<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Because of course it does, mobile needs this to scale properly.-->
    <title>noclip</title>
    <meta name="description" content="A digital museum of video game levels">
    <link rel="icon" sizes="16x16" href="<%= require('./assets/icon.png') %>">
    <link rel="icon" sizes="64x64" href="<%= require('./assets/logo.png') %>">
    <style>
        @font-face {
            font-family: 'fontello';
            font-weight: normal;
            font-style: normal;
            src: url('<%= require("./assets/fontello.woff2") %>') format('woff2');
        }
    </style>
</head>
<body>
    <div id="insertable"> <!--Serves as a mounting point for mobile warning--></div>
</body>
</html>
