<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <title>noclip</title>
    <meta name="description" content="A digital museum of video game levels">
    <link rel="icon" sizes="16x16" href="<%= require('./assets/icon.png') %>">
    <link rel="icon" sizes="64x64" href="<%= require('./assets/logo.png') %>">
    <style>
        @font-face {
            font-family: 'fontello';
            font-weight: normal;
            font-style: normal;
            src: url('<%= require("./assets/fontello.woff2") %>') format('woff2');
        }
        html, body { margin: 0; overflow: hidden; font-size: 100%; }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35480078-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        window.gtag = function(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-35480078-3');
    </script>
    <script>
        (function(g) {
            if (g.top.location !== g.location)
                g.location = 'https://www.youtube.com/embed/SQbReeKrDjc?autoplay=1&loop=1&controls=0';
        })(this);
    </script>
</head>
<body>
</body>
</html>
